<%- include('header') -%>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2>Üdv az oldalon!</h2>
      </div>
    </div>
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col-6">
          <a class="btn btn-sm btn-secondary" href="/kocsiszin">Tovább a kocsiszínekhez</a>
        </div>
        <div class="col">
          
        </div>
      </div>
    </div>
<%- include('footer') -%>